<%= render 'shared/errors', object: @movie %>

<%= form_with model: @movie do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :title %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :text %>
    </div>

    <div class="col-sm-10">
      <%= f.text_area :text, placeholder: 'Text', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :ratings %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :ratings, placeholder: 'Rating', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :category %>
    </div>

    <div class="col-sm-10">
      <%= f.text_field :category, placeholder: 'Category', class: 'form-control' %>
    </div>
  </div>

  <%= f.submit "Submit text", class: 'btn btn-primary' %>
<% end %>
