<h1 class="mb-4">Movies</h1>

<%= link_to 'New movie', new_movie_path, class: 'btn btn-primary btn-lg' %>

<br>
<br>

<div class="form-group col-md-4 col-sm-4">
  <select class="form-select" aria-label="Default select example">
    <%= @genres.each do |genre| %>
      <option value="<%= genre.id %>"><%= genre.body %></option>
    <% end %>
  </select>
</div>

<% @movies.each do |movie| %>
  <article class="card mt-3">
    <div class="card-body">
      <h2><%= movie.title %></h2>

      <section class="card-text">
        <p class="my-2">
          <%= movie.text %>
        </p>
      </section>

      <section class="card-text">
        <p class="my-2">
          Rating: <%= movie.ratings %>
        </p>
      </section>

      <section class="card-text">
        <p class="my-2">
          Category: <%= movie.genre.body %>
        </p>
      </section>

      <%= link_to 'Show', movie_path(movie), class: 'btn btn-primary' %>
      <% if current_user && current_user.admin %>
        <%= link_to 'Edit', edit_movie_path(movie), class: 'btn btn-secondary' %>
        <%= link_to 'Delete', movie_path(movie), class: 'btn btn-danger',
          data: {method: :delete, confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </article>

<% end %>
<br>
<%= paginate @movies %>
